/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

/* Navigation bar */
.header-1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    padding: 20px 70px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    transition: background-color 0.3s ease;
}

.header-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: -1;
}

.header-1::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header-1:hover::after {
    left: 100%;
}

.logo-1 {
    cursor: pointer;
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    margin-right: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    margin-left: auto;
}

.navbar div {
    margin-top: auto;
}

.navbar a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    font-weight: 400;
}

.navbar .active {
    margin-left: 0;
}

.R_btn {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 30px;
    transition: 0.4s;
    z-index: 2;
}

.R_btn:hover {
    background-color: #fff;
    color: #050801;
    box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 0 200px #fff;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    z-index: 5;
}

/* Smooth scrolling */
.link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    position: relative;
    transform: translateY(-50%);
    transition: color 0.3s ease;
}

.link::before,
.link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: transparent;
    transform: scaleX(0);
    transition: all 0.6s ease;
}

.link::before {
    top: 0;
    left: 0;
    transform-origin: left;
}

.link::after {
    bottom: 0;
    left: 0;
    transform-origin: right;
}

.link:hover::before,
.link:hover::after {
    transform: scaleX(1);
}

.header-1 .navbar .NB a:hover,
.header-1 .navbar .NB a.active {
    color: #0ef;
}

nav.scrolled {
    background-color: black;
    transition: background-color 0.3s ease;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .navbar {
        display: none;
        overflow-y: hidden;
    }

    .header-1 .icons {
        display: flex;
    }

    .logo-1 {
        margin-right: auto;
    }

    #check:checked ~ .navbar {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 99;
        overflow-y: auto;
    }

    #check:checked ~ .navbar a {
        margin-left: 0;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }

    .Vi-logo img {
        margin-left: 10%;
    }
}

@media (max-width: 992px) {
    .header-1 {
        padding: 1.3rem 5%;
    }
}

/* Home Page Design */
.header {
    height: 100vh;
    background: linear-gradient(rgba(25, 26, 43, 0.9), rgba(25, 26, 43, 0.9)), url('https://selfkey.org/wp-content/uploads/2019/07/selfkey-bank-accounts-marketplace-1536x1040.jpg');
    background-position: center;
    background-size: cover;
}

.header .N_btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-color: #666;
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.N_content {
    position: absolute;
    left: 10%;
    margin-top: 10%;
    width: 700px;
    padding: 10px 6%;
}

.N_content h1 {
    font-size: 60px;
    color: #fff;
    line-height: 1.2;
}

.N_content p {
    margin: 10px 0 30px;
    color: rgba(255, 255, 255, 0.6);
}

.N_content .btn {
    padding: 15px 80px;
    font-size: 15px;
}

.N_btn:hover {
    border-top-right-radius: 30px;
    background: #333;
}

.feature-img {
    width: 22.5rem;
    position: absolute;
    bottom: 0;
    right: 10%;
}

.feature-img.anim {
    filter: drop-shadow(0px 7px 20px orange);
}

.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 768px) {
    .header {
        margin-top: 0;
    }
    .N_content {
        position: relative;
        left: auto;
        top: 15%;
        transform: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .feature-img {
        display: none;
    }
}

/* About Us Styling */
.A_container {
    height: auto;
    width: 100%;
    line-height: 1.5;
    padding: 50px 0;
    background-color: #191a2b;
    border-top: 0.2px solid rgba(114, 226, 174, 0.2);
    border-bottom: 0.2px solid rgba(114, 226, 174, 0.2);
}

.A_innerContainer {
    background-color: #191a2b;
    padding: 50px 80px;
}

.A_title {
    text-align: center;
}

.A_title h4 {
    display: inline-block;
    padding: 20px;
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1.2px;
    word-spacing: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    text-transform: uppercase;
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.row {
    background-color: #1c2335;
    margin-top: 20px;
}

.A_card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.A_card .left {
    flex-basis: 50%;
    padding: 40px;
    padding-left: 70px;
}

.A_card .left h1 {
    color: #fff;
    margin-bottom: 20px;
}

.A_card .left p {
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.A_card .left .btn {
    padding: 14px 40px;
    color: #0ef;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: none;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.5s;
}

.A_card .left .btn:hover {
    background-color: #0ef;
    color: #1c2335;
}

.A_card .right {
    flex-basis: 50%;
}

.A_card .right img {
    width: 500px;
    height: auto;
    display: block;
}

.A_card img {
    width: 300px;
    height: auto;
    display: block;
    margin: auto;
    filter: drop-shadow(0px 0px 0px #0ef);
}

.anim img {
    opacity: 0;
    transform: translateX(70px);
    animation: moveleft 0.5s linear forwards;
}

@keyframes moveleft {
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media (max-width: 768px) {
    .A_card {
        flex-direction: column;
    }

    .A_card .right img {
        width: 300px;
    }

    .A_card .left {
        padding: 20px;
        padding-left: 30px;
    }
}
/* Product Content Styling */
.P_container {
    padding: 50px 0;
    background-color: #f4f4f4;
}

.P_innerContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.P_title {
    text-align: center;
    margin-bottom: 50px;
}

.P_title h4 {
    display: inline-block;
    padding: 20px;
    color: #333;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1.2px;
    word-spacing: 5px;
    border: 1px solid rgba(51, 51, 51, 0.1);
    border-radius: 15px;
    text-transform: uppercase;
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.P_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.P_card {
    flex-basis: 30%;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.P_card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.P_card img {
    width: 100%;
    height: auto;
}

.P_card_content {
    padding: 20px;
    text-align: center;
}

.P_card_content h3 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.P_card_content p {
    color: rgba(51, 51, 51, 0.7);
    margin-bottom: 20px;
}

.P_card_content .btn {
    padding: 14px 40px;
    color: #0ef;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: none;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.5s;
}

.P_card_content .btn:hover {
    background-color: #0ef;
    color: #fff;
}

/* Responsive Design for Product Content */
@media (max-width: 768px) {
    .P_card {
        flex-basis: 45%;
    }
}

@media (max-width: 576px) {
    .P_card {
        flex-basis: 100%;
    }

    .P_card_content h3 {
        font-size: 1.2rem;
    }

    .P_card_content p {
        font-size: 0.9rem;
    }
}
